$color-primario: blue;
$sombra: 20px 20px 0px blue;
$ tipografia-primario:font-style:italic; font:400; text-decoration: underline;  text-align:center; font-size: 16px; font-family: "Monserat", sans-serif;
background-color: blueviolet;