.color{
    color:maroon;
    font-size: 45px;
}

.color-2{color:brown;
font-size: 30px;
}



/*h1{
   
    color: maroon; 
    font-size: 45px;
    
    
}
p{color: brown;
    font-size: 30px;
}
tr {color:maroon; font-size: 30px;}*/