.tarjeta{
    width: 300px;
    height: 350px;
    &_titulo{
        font-size: 24px;
        &_Titulo{
            font-size: 22px;
        }
    }
}








.bg-rosa{background-color:rgb(208, 43, 226);
}

.img{
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}
