h1 {
    color:$color-primario;
    box-shadow:$sombra;

    /* Tipografia italic*/

    font-style:italic; 

    /* Peso tipografico*/

    font: 400;

    /*Decoracion del texto*/

    text-decoration: underline;

    /*Alineado del texto*/

    text-align: center;

    /*Tamaño tipografico*/

    font-size: 16px;

    /*Familia tipografica*/

    font-family: "Monserat", sans-serif;

    /* fondos de colores*/

    background-color: blueviolet;
}